body {
    background-color: #212121;
    color: white;
}

.form-register {
    color: white;
}
.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction:column;

}
.budget {
    font-weight: bold;
    color: #7cfc00;
}
.wrapper {
    margin: 20px 20px;
}
/* Modal styling */
.modal_styling {
    background-color: rgb(22, 21, 19);
}