body {
    background-color: #212121;
    color: white;
}

.form-register {
    color: white;
}
.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction:column;

}
.budget {
    font-weight: bold;
    color: #7cfc00;
}