{% extends 'base.html' %}
{% block title %}
 Market Page azea
{% endblock title %}
{% block content %}
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                {% for column in columns %}
                <!-- Your Columns HERE -->
                <th scope="col">{{ column }}</th>
                {% endfor %}
                <th scope="col">aze hes</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in items_list %}
                <tr>
                    {% for key, value in item.items() %}
                    <td>{{value}}</td>
                    {% endfor %}
                    <td>
                        <button class="btn btn_outline btn-info">More info</button>
                        <button class="btn btn_outline btn-success">Purchase Item</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}