{% extends 'base.html' %}
{% block title %}
    Register page
{% endblock %}
{% block content %}
    <div class="container">
        <div class="form-container">
            <form method="POST" class="form-register">
                {{ form.hidden_tag() }}
                <h1 class="mb-3 h3">Please create your account</h1>
                {{ form.username.label() }}
                {{ form.username(class="form-control", placeholder="User Name")}}
                {{ form.email.label() }}
                {{ form.email(class="form-control", placeholder="Email adress")}}
                {{ form.password1.label() }}
                {{ form.password1(class="form-control", placeholder="Password")}}
                {{ form.password2.label() }}
                {{ form.password2(class="form-control", placeholder="Confirm Password")}}
                </br>
                {{ form.submit(class="btn btn-lg btn-block btn-primary")}}
                <br>
                <div class="checkbox mb-3">
                    <h2 class="h6">Already have an account?</h2>
                    <a href="{{url_for('login_page')}}" class="btn btn-sm btn-secondary">Login here</a>  
                </div>
            </form>
        </div>
    </div>

{% endblock %}